---
title: Articles
---

<h3>Evidence-Based Medicine</h3>

<article class="article">
	<h4>Eat fat and still lose fat!</h4>
	<p><a href="http://www.nytimes.com/2014/09/02/health/low-carb-vs-low-fat-diet.html">http://www.nytimes.com/2014/09/02/health/low-carb-vs-low-fat-diet.html</a><br /><a href="http://www.scientificamerican.com/article/how-gut-bacteria-help-make-us-fat-and-thin/">http://www.scientificamerican.com/article/how-gut-bacteria-help-make-us-fat-and-thin/</a></p>
	<p>Eating less fat does not necessarily help in weight loss. In past four decades, fat intake has dropped significantly from the American diet; from 40% of total Kcals to 33% Kcals, due to the exaggerated notion that too much fat was making them fat and susceptible to heart diseases and cancer. Since then, America&#39;s supermarkets are filled with endless assortment of reduced fat, fat free foods and baked snacks. But, the incidence of the big four killers in America &mdash; heart disease, cancer, diabetes and obesity &mdash; did not decrease. On the contrary, they are still increasing! The culprit? Not the fat, but refined carbohydrates, and less fiber! </p>
	<div class="readmore">
		<p>The current low fat trend has in fact promoted the increase in serving size and increase in the tendency to snack more under the assumption of it having less fat! In these highly processed foods, fats are replaced by many other synthetic substitutes and some of them are harmful to health. They give the similar creamy texture and taste as fat but fewer calories than regular fat, provoking people to actually eat more of those snacks. </p>
		<p>Here are few examples of fat substitutes:</p>
		<ul>
			<li>Pectins, gums, modified starch or another carb (oatrim, Nutrim) marketed as &#39;soluble fiber&#39;. Watch out for them in the food labels for ice cream, pies, salad dressings, etc. </li>
			<li>A protein, the fat replacer Simplese, is used to simulate fat. It is made from egg white and milk protein and used in cheeses and frozen desserts</li>
			<li>The artificial fat &ldquo;Olestra,&rdquo; a sucrose polyester which cannot be broken down by human enzymes, is used in chips and crackers. It has been proven to cause gastrointestinal irritations and it reduces the absorption of many vital nutrients in the digestive tract. &nbsp;</li>
		</ul>
	
		<h5>How do refined carbohydrates make us fat?</h5>
		<p>It has to do with the insulin response to sugar in the diet. The insulin that floods the blood as a response to sugary foods makes us more hypoglycemic, more sugar-craving and eventually insulin resistant. It is a known powerful anabolic hormone that also stores the fat in the body along with the glucose. And the excess sugar that is stored in the tissue by insulin eventually gets turned into fat by the liver.</p>
		<p>Based on this theory, many low carb diets have gained popularity. However, low carbohydrate diets like the Atkins diet promote mild ketosis in the body. Ketone also helps suppress the appetite and want to make the dieter eat less; however, if the dieter eats a very low amount of carbs and/or is not careful about drinking lots of water, the ketone buildup in the blood is very harmful and can lead to a coma.</p>
		<p>The most effective way to lose weight is to not to get carried away by the low-fat fad and changing your refined carbohydrates to complex carbohydrates with lots of fiber! Fibers do not cause an insulin spike and by adding to the bulk in the digestive tract they also give you a feeling of fullness, making you eat less. </p>
		<p>Also, in light of new research about gut bacteria reducing obesity, eating more fiber that feeds those good bacteria makes lot of sense!</p>
	</div>
</article>
<hr />

<article class="article">
	<h4>Curry Spice (Turmeric) helps with brain repair</h4>

	<p><a href="http://www.bbc.com/news/health-29361351">http://www.bbc.com/news/health-29361351</a></p>

	<p>The first question you should ask when any Nutrition related research comes out is, "Has it stood the test of time?" Among other important questions such as, "Who paid for the study?" "Who stands to benefit by the results?" and "Does it have any risk associated with it?" Certainly traditional medicines such as Ayurveda, which originated in India 5000 years ago, or traditional Chinese Medicine with its 4000 year old history, are time-tested.</p>

	<div class="readmore">
		<p>Turmeric, with its active ingredient curcumin, is a relative of ginger. It is fragrant and has a bitter, somewhat sharp taste and gives a distinct divine color and flavor to the curries. Although it grows in many tropical locations, the majority of turmeric is grown in India, where it is used as a main ingredient in curry.</p>

		<p>Turmeric is shown to enhance cognitive performance by improving the transmission of electrical signals across synapses in the neurons that the brain uses to communicate. It also reduces swelling by reducing the buildup of proteins on the neurons which eventually leads to cell death in Alzheimer's Disease.</p>

		<p>Another research shows that curcumin, is proven to help prevent Parkinson's Disease by disrupting proteins involved in the development of Parkinson's disease.</p>

		<p>Other health benefits include:
		<ul>
			<li>Improve digestion by stimulating bile</li>
			<li>May help prevent buildup of plaque that can block arteries and lead to heart attack or stroke. It also also thins the blood and reduces its ability to form clots</li>
			<li>May help prevent or treat several types of cancers, including prostate, breast, skin, and colon cancer. Being a strong antioxidant, also protects cells from damage.</li>
			<li>Probably its most important health benefit is its anti-inflammatory properties. That explains its use in many formulas for:
				<ul>
					<li>Ulcerative colitis to stay in remission</li>
					<li>Relieve osteoarthritis pain
						<ul>
							<li>An Ayurvedic formula of herbs and minerals with turmeric, winter cherry, boswellia, and zinc treats pain and inflammation.</li>
						</ul>
					</li>
					<li>Being a natural anti-oxidant, anti-bacterial and anti-inflammatory properties it is used to treat a variety of skin ailments</li>
						<ul>
							<li>Create a face mask by blending it with yogurt, honey or milk. It helps skin rejuvenation, softens the appearance of lines and wrinkles, lighten uneven pigmentation and promote soft skin. I also add chick pea flour and use this paste instead of soap. Just add a pinch of turmeric and make sure you rinse it thoroughly with warm water. It stains cloth!</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		</p>

		<p>Yes, Ayurveda's top candidate as one of the best anti-tumor herb is definitely more than "just a little food coloring"!</p>
	</div>
</article>
<hr />

<article class="article">
	<h4>Acupuncture in the Treatment of Children</h4>
	<p><a href="http://www.ucsf.edu/news/2014/04/113966/acupuncture-helps-young-patients-manage-pain">http://www.ucsf.edu/news/2014/04/113966/acupuncture-helps-young-patients-manage-pain</a></p>
	<p>Acupuncture can be safely used in the treatment of children. I have witnessed how powerfully it works on kids during my internship at the Rady Children's Hospital in San Diego for the side-effects of chemotherapy such as nausea and vomiting as well as migraine pain and other chronic pain conditions. Acupuncture has been investigated as a treatment option for a variety of medical conditions and shows promise in the management of pediatric pain, migraines, bed-wetting, constipation, allergies, neurologic disorders, asthma, bronchitis and postoperative vomiting and pain management. The FDA has now banned a narcotic, codeine, for use after the tonsillectomy for kids as it slows their breathing and increases the risk of death. Awareness of acupuncture in the treatment of pediatric conditions is increasing, and many pain clinics in children's hospitals now offer acupuncture services.</p>
	<div class="readmore">
		<p>It is said in Chinese Medicine literature quotations that during the first few years of life, children's emotions are pure and uninhibited; hence, their qi (energy) flows freely and superficially and therefore is readily accessible on the surface. They always have uncomplicated presentation of the symptoms which mirrors clear reflection of what's going on inside their bodies. This is the reason why they respond quickly to acupuncture.</p>
		<p>Some of the kids are not afraid of needles. I have done scalp acupuncture on a four year old stroke victim while he kept actively engaged in playing with toy cars and lots of stickers on his tummy!  The notion that children are afraid of needles and that parents may not want to subject them to additional stress and pain is now challenged. In fact, most research now suggests that a large number of children are now being referred for acupuncture, and parents are happy with the experience overall. In my experience, many parents are eager to try acupuncture and happy to avoid drugs like antibiotics, steroids and pain medication which have many side effects on the little ones, if they can.</p>
		<p>There are even more alternatives if kids or parents are apprehensive about needles, such as acupressure, applying magnets or low level electric stimulation to the acupoints, and tapping tools to activate the affected meridian. They are all gentle, non-invasive methods which stimulate acupuncture points without penetrating the skin. Most children tolerate acupuncture therapies well and view acupuncture as a positive experience. In my practice I have successfully treated the common cold, acute bronchitis, and headaches for kids with magnets.</p>
		<p>Considering the willingness of families to engage in acupuncture and the low risk of side effects, acupuncture can be used to integrate with Western Medicine to promote preventive care and symptom management for children.</p>
	</div>
</article>
<hr />

<article class="article">
	<h4>Acupuncture Provides Pain Relief</h4>
	<p><a href="http://well.blogs.nytimes.com/2012/09/11/acupuncture-provides-true-pain-relief-in-study/">http://well.blogs.nytimes.com/2012/09/11/acupuncture-provides-true-pain-relief-in-study/</a></p>
	<p>The National Institute of Health (NIH) funded a detailed analysis of earlier high-quality research on acupuncture pain treatment done on 18,000 patients. It concluded that there is firm evidence that acupuncture provides pain relief in arthritis, migraine pain, neck or shoulder pain and any kind of chronic pain. This is a very encouraging result, considering the many limitations that exist for acupuncture research. In Western Medicine, treatment are standardized. But in the Traditional Chinese Medicine, there is an individualized approach to patient care in selecting acupoint, number of needles per session, needle diameter, depth of insertion and duration of needling. This variability in acupuncture treatments makes it difficult to examine the efficacy of acupuncture through standard methods in an objective manner.</p>
	<div class="readmore">
		<h5>What pain conditions are generally treated by acupuncture?</h5>

		<p>Acupuncture treats most pain conditions effectively, acute or chronic. All neuro- musculo- skeletal disorders like tendinitis, bursitis, arthritis, muscle strain and sprain to TMJ, migraine headaches, carpal tunnel syndrome and shingle pain respond very well to acupuncture. Many sports injuries like moderate to severe disc herniation, ligament sprains, spinal misalignment and post whiplash injuries are also treated successfully with acupuncture.</p>


		<h5>How does acupuncture provide pain relief?</h5>

		<p>This is the question most frequently asked by many: how does it work? There are many studies and reviews available on the subject which explains the biological mechanisms of acupuncture. They explain in detail the six phases of physiologic tissue response to needling and how it modulates the pain by the release of endorphins, bradykinin and substance P, etc. The visible flare response after the needle insertion can be seen by reddened area. Needle depth, level of stimulation and retention time are adjusted according to type of pain. This way acupuncture does the same thing what the pain pill can do but without any side effects and by naturally activating the body's self healing process.</p>

		<p>According to Chinese Medicine, the energy called qi (chi) flows through specific channels or pathways called meridians throughout the body. When this qi is blocked due to any reasons such as trauma or inflammation, it cannot flow freely and causes pain in that particular body part. By needle insertion into that meridian either locally or distally removes the block and relieves the pain.</p>

		<h5>How much time will it take to get pain relief?</h5>

		<p>How many treatments are needed to achieve the pain relief depends on whether it is an acute, subacute or chronic condition and the nature of the injury. It could be from anywhere from 1 to 6 treatments for acute and subacute pain. One person with acute pain might get complete pain relief in just one treatment while the other may have 80 to 90% pain reduction in first treatment and need just one more treatment. Once the pain becomes chronic, the body starts to compensate and more and more tissue gets involved, so for complex, long-standing conditions, it takes more treatments. An individualized treatment plan is given after the initial consultation. The treatment usually tapers off starting with couple treatments a week then once a week followed by every other week and so on.</p>

		<p>Acupuncture is a relatively safe and cost-effective measure and is now widely gaining acceptance in mainstream medicine. More and more insurance companies are now offering acupuncture benefits to their patients, mainly for pain treatment. The use of acupuncture on combat veterans has proven to be the most effective (and cost effective) measure.</p>
	</div>
</article>
<hr />

<article class="article">
	<h4>Gut Bacteria Affects Function of Mind</h4>
	<p><a href="http://www.npr.org/blogs/health/2013/11/18/244526773/gut-bacteria-might-guide-the-workings-of-our-minds">http://www.npr.org/blogs/health/2013/11/18/244526773/gut-bacteria-might-guide-the-workings-of-our-minds</a></p>
	<p>The research on the beneficial effects of gut bacteria on brain chemistry or its role in obesity  is still in its early stages, but its numerous other health benefits are very well-proven. Good bacteria like lactobacillus or bifidobacteria keep healthy balance in the gut. It is said that the gut of a healthy adult hosts 300 to 500 different species of bacteria and 10 times more bacterial cells than the total number of cells in the entire body. It is also believed that they are unique to each individual. The population of these good bacteria play a huge role in maintaining our immune system. Now there is a growing evidence that they may affect individual's body weight and also their behavior depending on what species of bacteria dominate their gut.</p>
	<div class="readmore">
		<p>Considering the many health benefits, it is necessary to get these beneficial bacteria in your diet, but before that it is important to understand the difference between probiotics and prebiotics.</p>

		<p><strong>Probiotics</strong> are generally found in fermented dairy products like yogurt, buttermilk or whey, which contain live bacteria. Some other probiotic foods to consider other than yogurt are,</p>

		<ul>
			<li>Sauerkraut (unpasteurized)</li>
			<li>Japanese miso soup or Korean kimchi</li>
			<li>Soft cheeses like Gouda</li>
			<li>Sourdough bread (naturally fermented; not made with yeast)</li>
			<li>Pickles (naturally fermented without vinegar)</li>
			<li>Tempeh, an Indonesian patty</li>
		</ul>

		<p>Many other traditional cultures use sour or fermented milk products. Some examples are Russian <i>kefir</i>, Indian <i>dahi</i>, and Norwegian <i>kjaeldermelk</i>.</p>

		<p><strong>Probiotics</strong> have a big role in maintaining digestive health. However, after they survive their passage all the way from the mouth to the colon, these added bacteria are washed out of the colon fast. So we have to consume them daily. But we can also promote the growth of bacteria in our gut by taking prebiotics. The above mentioned foods contain live bacteria, and you can choose to eat them alone or along with the prebiotic foods.</p>

		<p>Prebiotics are oligosaccharides, soluble fiber, undigested starch or resistant starch from the foods we eat that feed the microflora in the gut. In exchange, these species help break down these undigested foods to form short chain fatty acids. In doing that they create the acidic medium in the gut essential to stop the growth of unhealthy bacteria and favor the growth of good bacteria. The short chain fatty acids have many beneficial effects in the colon. They help prevent and treat inflammation in the gut, reduce allergies, prevent diarrhea especially associated with antibiotic use, keep fungal infections in check and protect against colon cancer. They also synthesize and absorb some of the vitamin B and Vitamin K, which is well known for its role in blood clotting process.</p>

		<p>Prebiotics are naturally found in whole grains, fruits and vegetable like asparagus, artichokes, onion, garlic, bananas, oatmeal, honey, maple syrup, legumes, etc.</p>

		<p>If you are taking antibiotics, make sure to replenish the good bacteria few days after you finish course of antibiotic. Do not take the probiotics while you are on the antibiotics otherwise antibiotics won't work.</p>
		 
		<p>It is very important to eat many different sources of prebiotics and probiotics and not to just rely on yogurt for the source. Today's yogurts are made with only one or two live cultures and to get the positive effects of probiotics on the colon, it is essential to get as many live strains as possible from all the different sources.</p>
	</div>
</article>

<h3>Videos</h3>

<h4>KPBS</h4>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/S_w4QKCMCs4?rel=0" frameborder="0" allowfullscreen></iframe>

<h4>TED</h4>
<iframe src="https://embed-ssl.ted.com/talks/peter_attia_what_if_we_re_wrong_about_diabetes.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<iframe src="https://embed-ssl.ted.com/talks/elliot_krane_the_mystery_of_chronic_pain.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<h4>NutritionFacts</h4>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GyiacuB6p50?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GLV_OSneMqU?rel=0" frameborder="0" allowfullscreen></iframe>

<h4>Dr. Oz</h4>
<ul>
	<li><a href="http://www.doctoroz.com/videos/secrets-ayurvedic-medicine-pt-1" target="_blank">Secrets of Ayurvedic Medicine, Part 1</a></li>
	<li><a href="http://www.doctoroz.com/videos/secrets-ayurvedic-medicine-pt-2" target="_blank">Secrets of Ayurvedic Medicine, Part 2</a></li>
</ul>


<h4>HBO Documentaries</h4>
<a href="http://theweightofthenation.hbo.com/" title="The Weight of the Nation" target="_blank"><img src="/images/WOTN.png" /></a>

<script>
function makeReadMoreLink(block) {
	var link = document.createElement('a');
	link.className = 'showlink';
	link.onclick = function () {
		block.classList.toggle('show');
	};
	block.parentNode.insertBefore(link, block.nextSibling);
}

var blocks = document.getElementsByClassName('readmore');
for (var i = 0; i < blocks.length; i++) {
	makeReadMoreLink(blocks[i]);
}
</script>
