---
title: Ayurveda
---

<h3>Trust an Ayurveda Expert <i>(vaidya)</i> trained in India for over 8 years...</h3>
<p>...in the traditional and holistic knowledge of complete health, as well as advanced training in Maharishi Ayurveda.

<aside>
	<q>Without proper diet, medicines are of no use.<br />With proper diet, medicines are of no need.</q>
	<div align="right">- Ayurveda proverb</div>
</aside>

<p>According to Ayurveda, the universe is made up of five elements: Ether, Air, Fire, water, and Earth as the manifestation of the Divine. These five elements form the basis of all material things in the universe including an individual's constitution, foods that we eat, and even the tastes of the food. Vata, Pitta, and Kapha (the three Doshas) are the three fundamental principles governing physiological processes who represent these elements. When in balance, they maintain the body in good health; when out of balance, they are the three basic causes of imbalance and disease in the body. Balancing these elements is the key to maintaining the health and successfully healing physical and mental illnesses.

<p>Diagnosis using Ayurveda focuses on two elements:
	<ul>
		<li>The patient's constitutional type or mind-body type based on three doshas
		<li>The underlying pattern of imbalance at the basis of current or future disease
	</ul>

<aside>
	The body's inner intelligence underlies all physiological structure and function. The purpose of Ayurveda is to stimulate the body's inner intelligence to promote homeostatic and self-repair mechanisms.
</aside>

<p>The approach to diagnosis includes
	<ul>
		<li>A specialized Ayurvedic history and physical examination
			<ul>
				<li>Introductory profile
				<li>Wellness lifesstyle questionnaire
				<li>Brief constitution assessment
				<li>Digestion assessment
			</ul>
		<li>Specialized Ayurvedic technique of pulse diagnosis
			<ul>
				<li>Detects imbalances before they manifest in the body as disease or after they become significant
			</ul>
	</ul>

<aside>
	Healthy diet and digestion are considered of central importance in maintaining overall health and imbalances in these areas are linked to many chronic disorders. Ayurveda emphasizes that diet should be tailored to the constitutional type of the individual.
</aside>

<p>Your personal Ayurvedic Health Assessment will include the following recommendations:
	<ul>
		<li>Dietary Recommendation
		<li>Herbal food supplements recommended for nourishing and balancing your body's system.
		<li>Lifestyle recommendation
		<li>Detox programs (when needed)
		<li>Follow-up to help you gain the benefits
	</ul>

<p>You will be sent home with easy to follow guidelines to help restore balance and enhance your body's own healing process. Benefits are generally noticed in the first few weeks.
