---
title: Resources
---

<h3><img class=faq-title src="/images/faq.png" alt="Frequently Asked Questions"></h3>

<ul class=faq-nav>
	<li><a href="#condition">Can acupuncture help my condition?</a>
	<li><a href="#recommended">What are the conditions recommended for acupuncture?
	<li><a href="#treatment">What is an acupuncture treatment like?</a>
	<li><a href="#infection">How does the acupuncturist manage infection control?</a>
	<li><a href="#safety">Is acupuncture safe?</a>
	<li><a href="#insurance">Is acupuncture covered by health insurance?</a>
	<li><a href="#needles">How big are the needles?</a>
</ul>

<dl>
	<dt id=condition>Can acupuncture help my condition?</a>
	<dd>The practitioner, based on your medical history, condition, and what other treatments you have been or are receiving, can best help you decide whether acupuncture is suitable by itself or as adjunctive therapy. If their treatment, according to a Western diagnosis with options, isn't resolving the problem,is quite expensive, or has significant side effects/hassles associated with it, then clearly acupuncture is worth a try. For ex. if one is having difficulty controlling or improving ones asthma with Western treatments, a trial of acupuncture makes sense.
	<dt id=recommended>What are the conditions recommended for acupuncture?</a>
	<dd><a href="http://apps.who.int/medicinedocs/en/d/Js4926e/5.html">World Health Organization list of diseases that can be treated with acupuncture. </a>In addition, you might read <a href="http://www.medicalacupuncture.org/acu_info/articles/helmsarticle.html">An Overview of Medical Acupuncture</a> by Dr. J.M. Helms or the <a href="http://www.medicalacupuncture.org/acu_info/articles/nccaminfo.html">Acupuncture Information and Resource Package</a> from the National Center for Complementary and Alternative Medicine (NCCAM)
	<dt id=treatment>What is an acupuncture treatment like?</a>
	<dd>Wide variations in the styles of acupuncture  are performed. Generally Six to fifteen needles are placed. Sometimes, electrical microcurrent stimulation is used or sometimes just placing magnets work just as good as needles depending on the condition.
	<dt id=infection>How does the acupuncturist manage infection control?</a>
	<dd>Acupuncturists are required by law in most states to use disposable one-time-use sterilized needles. OSHA (Occupational Safety and Health Organization) board requires all acupuncturists to follow Clean Needle Techniques guidelines while administrating acupuncture.
	<dt id=safety>Is acupuncture safe?</a>
	<dd>Acupuncture is safe when practiced by a Licensed Acupuncturist. The needles used are prepackaged, sterile and disposable, virtually eliminating any chance of infection. Practitioners undergo 3-4 years of rigorous graduate level training and must pass National and/or or State Board Licensing exams. There are minor risks of bruising or bleeding with needle removal after the treatment.
	<dt id=insurance>Is acupuncture covered by health insurance?</a>
	<dd>Many insurance plans now provide coverage for acupuncture. The majority of flexible spending plans, also known as cafeteria benefit plans, will reimburse for acupuncture treatments as well. We are preferred provider for several insurance companies. Please inquire to your insurer.
	<dt id=needles>How big are the needles?</a>
	<dd>Acupuncture Needles are very thin, flexible and are nothing like the hypodermic needles people are familiar with. Once inserted, people report a variety of sensations including heaviness at the point of insertion, tingling, warmth, dull aching and/or a drawing sensation. Overall, people feel a deep sense of relaxation, and many even fall asleep during the treatment. By and large patients describe the initial sensations as fleeting and the long term sensations as deeply relaxing.
</dl>

<h3>Referrals</h3>
<p>Dr. Richard Carpenter<br /><a href="http://www.seasidechiropracticwellness.com/">Seaside Chiropractic Wellness</a></p>

<h3>Resources</h3>
<dl>
	<dt>World Heath Organization
	<dd><a href="http://apps.who.int/medicinedocs/en/d/Js4926e/">http://apps.who.int/medicinedocs/en/d/Js4926e/</a>
	<dt>California Acupuncture Board
	<dd><a href="http://www.acupuncture.ca.gov/">http://www.acupuncture.ca.gov/</a>
	<dt>National Institutes of Health
	<dd><a href="http://search2.google.cit.nih.gov/search?proxystylesheet=NIHNEW_frontend&q=acupuncture">http://search2.google.cit.nih.gov/search?proxystylesheet=NIHNEW_frontend&q=acupuncture</a>
</dl>
