<!DOCTYPE html>
<html lang=en>
	<title>AcuWorks Therapeutics - <%= title %></title>
	<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Buda:300">
	<link rel=stylesheet href=/styles/style.css>

	<header>
		<a href=/ title=Home><img id=logo src=/images/logo.png alt="AcuWorks Therapeutics"></a>
		<nav>
			<ul>
				<li><a href=/>Home</a>
				<li><a href=/about>About</a>
				<li><a href=/testimonials>Testimonials</a>
				<li><a href=/acupuncture>Acupuncture</a>
				<li><a href=/ayurveda>Ayurveda</a>
				<li><a href=/articles>Media</a>
				<li><a href=/resources>Resources</a>
				<li><a href=/contact>Contact</a>
			</ul>
		</nav>
	</header>

	<br clear=all>
	<br clear=all>
	<br clear=all>
	<br clear=all>
	<br clear=all>
	<br clear=all>

	<main id=content>
		<%- content %>
	</main>

	<br clear=all>
	<br clear=all>

	<footer>
		<p><a href=tel:+18583810228 title=Phone>858.381.0ACU</a> (858.381.0228)
		<p><a href=mailto:svighne@acuworks-ca.com title=Email>svighne@acuworks-ca.com</a>
		<address>
			<a target=map href=https://goo.gl/maps/89pRhUKfDFGhaWxK7>
				2045 San Elijo Avenue<br>
				Cardiff Town Center (upstairs)<br>
				Cardiff-by-the-Sea, CA 92007
			</a>
		</address>
	</footer>
</html>
