body {
	color:       black;
	background:  white;
}

::selection {
	background:  #CAF2A7;
}

@font-face {
	font-family: "Century Gothic";
	src:         url("../fonts/Century_Gothic.ttf");
}

h5 {
	font-size:   15pt;
	font-family: "Buda";
}

h4 {
	font-size:   16pt;
	font-family: "Century Gothic";
}

h3 {
	font-size:     20pt;
	color:         #728C40;
	font-family:   "Century Gothic";
	text-transform: uppercase;
}

header {
	position:                   fixed;
	top:                        0;
	left:                       0;
	right:                      0;
	padding:                    1em 2em 0 2em;
	background:                 white;
	font-family:                "Century Gothic";
	font-size:                  12pt;
	border-bottom:              thin solid #CAE9A6;
}

#logo {
	width: 300px;
}

nav ul {
	position: absolute;
	top:      10px;
	right:    10px;
	float:    right;
}

nav li {
	display: inline;
	height:  100%;
}

nav a {
	padding: 5px;
	height:  100%;
	transition: background-color 200ms;
}

nav a:hover, a:active {
	background:         #CAE2A6;
	color:              black;
	box-shadow:         0px 0px 5px #CAE2A6;
	text-shadow:        0px 0px 15px white;
}

a:link, a:visited, .showlink {
	color:           #728C40;
	text-decoration: none;
	font-weight:     bold;
}

a:active, a:hover {
	text-shadow:   0px 0px 15px #728C40;
	background:    transparent;
	box-shadow:    none;
}

a:active {
	border:        thin solid #CAE9A6;
	border-radius: 5px;
}

#content {
	padding:            10px;
	width:              95%;
	font-family:        "Buda";
	font-size:          12pt;
	margin:             auto;
}

#content:after {
	content: "";
	display: table;
	clear: both;
}

#faq-container {
	text-align: center;
}

#faq {
	width: 250px;
}

#faq_nav li {
	display:         block;
	text-decoration: underline;
}

small {
	text-transform: lowercase;
}

table {
	width: 100%;
}

td {
	padding:    10px;
	margin:     10px;
	width:      33%;
}

#content aside {
	border:             thin solid #CAE9A6;
	box-shadow:         0px 0px 10px #CAE9A6;
	border-radius:      15px;
	padding:            10px;
	float:              right;
	width:              300px;
	margin:             10px;
	margin-left:        100px;
	margin-bottom:      30px;
	font-style:         italic;
	font-size:          11pt;
}

#sarita {
	height:      374px;
	float:       right;
	margin-left: 5px;
}

.article:after {
	content: "";
	display: table;
	clear: both;
}

.article + hr {
	border: none;
	height: 1px;
	background-color: lightgray;
	color: gray;
}

.readmore {
	display: none;
}

.readmore.show {
	display: block;
}

.showlink {
	text-decoration: underline;
	float: right;
}

.readmore + .showlink:before {
	content: "more...";
}

.readmore.show + .showlink:before {
	content: "...less";
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 15px;
}

footer {
	font-family:             "Century Gothic";
	font-size:               12pt;
	text-align:              center;
}

footer address {
	font-size:       10pt;
}
